@page
@model MyEshop.Pages.Admin.AddModel
@{
    ViewData["Title"] = "افزودن محصول";
}

<h1 class="text-center mt-4">افزودن محصول</h1>
<a asp-page="/Admin/Index">بازگشت</a>
<hr />
<form method="post" enctype="multipart/form-data" class="product-info-form text-center">
    <div class="col">
        <div class="form-group">
            <label asp-for="Product.Name" class="control-label"></label>
            <input asp-for="Product.Name" class="form-control mb-4" />
        </div>
        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            <textarea asp-for="Product.Description" class="form-control mb-4 text-justify" style="resize:none;height:200px;"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Product.Price" class="control-label"></label>
            <input asp-for="Product.Price" class="small-form-group form-control mb-4" />
        </div>
        <div class="form-group">
            <label asp-for="Product.QuantityInStock" class="control-label"></label>
            <input asp-for="Product.QuantityInStock" class="small-form-group form-control mb-4" />
        </div>
        <div class="form-group">
            <label asp-for="Product.Picture"></label>
            <input asp-for="Product.Picture" accept="image/*" class="mb-4 ml-3" />
        </div>
        <div class="row mt-3">
            <label class="form-label mr-3 pl-4">دسته بندی ها :</label>
            @foreach (var item in Model.Product.Categories)
            {
                <p>
                    <label class="form-label pl-3">@item.Name</label>
                </p>
                <p>
                    <input type="checkbox" class="mt-2 ml-4" name="selectedGroups" value="@item.Id" />
                </p>
            }
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="button-33">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
            </svg>
        </button>
    </div>
</form>
