@{
    ViewData["Title"] = "پرداخت با شکست مواجه شد";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div id="error-page">
        <div class="content">
            <h1 class="header text-center mb-3 mt-3">
                مشکل در پرداخت
            </h1>
            <h3 class="text-center mb-4">
                پرداخت شما با مشکل مواجه شده است
            </h3>
            <p class="text-center">
               لطفا دوباره سعی کنید
            </p>
            <div class="btns text-center mt-2">
                <a href="/">بازگشت به خانه</a>
            </div>
        </div>
    </div>
</body>
