@{
    ViewData["Title"] = "درباره ما";
}
<div class="aboutUs-page-forming">
    <h1 class="text-center mt-4">درباره ما</h1>
    <hr class="mt-4 w-75" />
    <div class="row">
        <div class="col-md-4">
            <div class="about-Us-Card card text-white bg-primary mb-4">
                <div class="card-header text-center">راه های ارتباط</div>
                <div class="card-body">
                    <strong class="card-text">شماره تلفن همراه :</strong>
                    <p class="card-text mt-3">09051058410</p>
                    <strong class="card-text">شماره تلفن ثابت :</strong>
                    <p class="card-text mt-3">02134567899</p>
                    <strong class="card-text">ایمیل :</strong>
                    <p class="about-Us-text card-text">Sobhanhv.dev@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="jumbotron text-white bg-primary mb-3">
                <h1 class="text-center">سبحان حق وردی هستم</h1>
                <hr class="bg-white" />
                <p class="lead text-center">برنامه نویس در حوزه Asp.Net Core</p>
                <hr class="my-3 bg-white w-75">
                <p class="text-center">از طریق راه های ارتباطی با من در ارتباط باشید</p>
                <hr class="w-50 bg-white" />
            </div>
        </div>
    </div>
</div>

